@import "./components/forms/forms.css";
@import "./components/tables/table.css";

:root {
  --primary-100: theme("colors.slate.700");
  --primary-200: theme("colors.slate.800");
  --primary-300: theme("colors.slate.900");

  --accent-100: theme("colors.orange.400");
  --accent-200: theme("colors.orange.500");
  --accent-300: theme("colors.orange.600");
}

/* fixes body overflow-y  */
.body-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 pr-8px overflow-hidden;
}
